$window_fg: #00fFff;
$window_bg: #002428;
$text_widget_fg: #00fFff;
$text_widget_bg: #013334;

$selected_fg: #84ffff;
$selected_bg: #00a49b;

$button_fg: #57ff00;
$button_bg: #002a16;
$button_checked_bg: #00751b;
$button_checked_fg: #90ff56;


$disabled_fg: #A50052;
$disabled_bg: #520B2E;

/*Usually an automatic fg color on these backgrounds should check this value!*/
$warningc: #b08700;
$errorc: #ac0000;
$successc: #5aaa00;


$titlebar_active_fg: #32f291;
$titlebar_active_bg: #002428;

$titlebar_backdrop_fg: #229159;
$titlebar_backdrop_bg: #002428;

$hint_fg: #ADFFF8;
$hint_bg: #1a5fb4;

$osd_fg: #ADFFF8;
$osd_bg: #1a5fb4;

$link_fg: #AEB6FF;
$link_visited_fg: #FD99FF;
