

notebook {
  padding: 1px;
  > header {
    @extend %stackswitcher;
    //background-color: $dark_fill;


    //tabs { margin: 3px; }


    &.top {

    }

    &.bottom {

    }

    &.left, &.right {
      border-radius: 1.5em;
    }


    &.top > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-top-style: none;
    }

    &.bottom > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-bottom-style: none;
    }

    @at-root %notebook_vert_arrows {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 4px;
      padding-right: 4px;

      &.down { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
    }

    &.left > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-left-style: none;
    }

    &.right > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-right-style: none;
    }

    @at-root %notebook_horz_arrows {
      margin-top: -5px;
      margin-bottom: -5px;
      padding-top: 4px;
      padding-bottom: 4px;

      &.down { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
    }

    > tabs > arrow {
      //@extend %button_basic;
      @extend %button;

      //@extend %button_basic_flat;

      min-height: 16px;
      min-width: 16px;
      border-radius: 0;

      &:hover:not(:active):not(:backdrop) {
        //background-clip: padding-box;
        //background-image: none;
        //background-color: transparentize(white, 0.7);
        //border-color: transparent;
        //box-shadow: none;
        @include button(hover);
      }
      &:active {@include button(active);}

      &:disabled { @include button(insensitive); }
    }

    tabs > tab {
      @extend %button;
      border-radius: 9999px;
      outline-color: transparent;
      margin: 3px;

      &.reorderable-page {
        @include draggable_bg_image($button_bg);
        &, &:dir(ltr) {
          background-position: left;
          padding-left: 1rem;
        }
        &:dir(rtl) {
          background-position: right;
          padding-right: 1rem;
        }
      }

      button.flat {
        //&:hover { color: currentColor; }

        //&, &:backdrop { color: gtkalpha(currentColor, 0.3); }
        border-radius: 9999px;
        padding: 1px;
        margin: 2px;
        //margin-top: 4px;
        //margin-bottom: 4px;
        //// FIXME: generalize .small-button?
        //min-width: 20px;
        //min-height: 20px;

        &:last-child {
          margin-left: 4px;
          margin-right: -4px;
        }

        &:first-child {
          margin-left: -4px;
          margin-right: 4px;
        }
      }
    }

 
  }

  > stack:not(:only-child) { // the :not(:only-child) is for "hidden" notebooks
    //background-color: $base_color;
  }
}
