row {
  transition: all 500ms $ease-out-quad;
  border: 1px solid transparent;
  //&:hover { transition: none; }

  //&:backdrop { transition: $backdrop_transition; }

  &.activatable {
     // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411

    &:hover { @include button(hover); }

    &:active { @include button(active); }

    //&:backdrop:hover { background-color: transparent; }

    &:selected, &.has-open-popup {
      @include button(checked);
    }
    &:disabled {@include button(disabled);}
  }

  &:selected { @extend %selected_items; }
  .nested > & {
    background-color: transparentize(if($variant == 'light', black, white), 0.9);
  }
}
